# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
venv/
env/
.venv/

# Data

*.zip
*.tar.gz

# Models (weights are too large for git)
models/*.pth
models/*.pt

# W&B
wandb/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
__MACOSX/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/
